html, body {
	height: 100%;
}
.container, .row, .col-sm-6{
	height: inherit;
	background-image: url(../img/numbers.jpg)
}

/*form*/
#form {
	height: 250px;
	margin: auto;
	padding: 0 15px;
	position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;  
}

.form-group h1 {
	color: #fff;
	text-shadow: 2px 2px 8px #FF0000;
}

/*results*/
#results {
	color: #fff;
	padding:10px;
	text-align: center;
}

.success {
	background-color: #5cb85c;
	transition: 0.3s all ease-in-out;
}

.failure {
	background-color: #d9534f;
	transition: 0.3s all ease-in-out;
}

@media (max-width: 320px) {
	#form {
		margin-top: 80px;
	}
}